#nav-menu
{
	//left: 0px;
	//top: 90px;
	//width: 100%;
	//display: block;
	position: relative;
  	height:50px;
  	background: -webkit-linear-gradient(#0052AF, #143968); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#0052AF, #143968); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#0052AF, #143968); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#0052AF, #143968); /* Standard syntax (must be last) */
	//background-color: #338ce8;
	//background-image:url('images/PlanetServerHEADER.jpg');
}

#nav-menu ul
{
	background: -webkit-linear-gradient(#0052AF, #143968); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#0052AF, #143968); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#0052AF, #143968); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#0052AF, #143968); /* Standard syntax (must be last) */
}

#nav-menu ul li
{ 

	font-family : ‘Open sans’, Arial, Helvetica, Sans-serif;
	//font-family: Verdana;
	//font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	//float: right;
	padding: 0 10px 0 5px;
	//background-color: #333333;
	//color: #ffffff;
	//border-bottom: 1px;
	//border-bottom-color: #000000;
	//border-bottom-style: solid;
}


#nav-menu ul li a
{
	color:white;
}

#nav-menu ul li a.topbarlinks 
{
	height: 50px;
	background: -webkit-linear-gradient(#0052AF, #143968); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#0052AF, #143968); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#0052AF, #143968); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#0052AF, #143968); /* Standard syntax (must be last) */
}

#nav-menu ul li a.dropdown
{
	height: 20px;
}
#
/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] 
	width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Let the jumbotron breathe */
	.jumbotron {
		margin-top: 50px;
	}

	.jumbo-es {
		background-color: #b3def7;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 20px;
		border-radius: 10px; 
	}

	.jumbo-ps {
		background-color: #fab05e;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 20px;
		border-radius: 10px; 
	}

	.jumbo-psdocs {
		background-color: lightgrey;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 20px;
		border-radius: 10px;  
	}

	/* Remove padding from wrapping element since we kick in the grid classes here */
	.body-content {
		padding: 0;
	}
}